header {
    background-color: brown;
    margin: 0 auto;
}

h1 {
    padding: 20px 0;
    margin: 0 auto;
    margin-bottom: 15px;
    color: white;
    font-size: 30;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    text-align: center;
}

p, ul, li {
    font-weight: normal;
    font-size: 20px;
    text-align: left;
}

table {
    border: 5px dotted black;
    margin: 0 auto;
}

table {
    background-color: rgb(229, 250, 250);
    width:50%;
}

footer {
    max-width: 0 auto;
    padding: 30px;
    background: brown;
    color: white;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}